# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env

# Models & Data
models/*.keras
models/*.h5
*.joblib
*.pkl
*.zip

# Keep the logs for TensorBoard
!logs/

# IDE
.vscode/
.idea/
